.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  background-color: rgb(255, 248, 234);
  border-radius: 1rem;
  margin-top: 3rem;
}
